/* You can add global styles to this file, and also import other style files */


:root {
    --shadow: 0 1px 5px rgba(44, 44, 44, 0.30);
}
  
.card, .jumbotron{
    border: none;
    box-shadow: var(--shadow);
}