<br>
<div class="card mb-3 center-block" style="width: 80%; margin: 0 auto;" *ngIf="sellBuy.buy">
  <div class="card-header"><h4>Buy shares of {{prices.Codes[sellBuy.i]}} </h4></div>
  <div class="card-body">
    <form (ngSubmit)="onSubmitDelay()" #buyForm="ngForm">
      <div>
        <p class="mb-4">You currently have {{auth.user.wallet.PLN}} PLN</p>
      </div>
      <div class="mb-2 form-row">
        <div class="col-md-1 text-md-right">
            <label for="buy" class="col-form-label"><p>Buy: </p></label>
        </div>
        <div class="col-7 col-md-3">
          <input type="number" class="form-control" [(ngModel)]="buy_units" name="buy_units"
          pattern="^\+?([1-9]\d*)$" maxValidator="{{auth.user.wallet.PLN / prices.currPrices.items[sellBuy.i].price}}"
          #fbuy="ngModel" required>

          <div *ngIf="fbuy.invalid && (fbuy.dirty || fbuy.touched)"
            class="alert alert-danger ngValid">
            <div *ngIf="fbuy.errors.required">
              You need to specify number of units you want to buy.
            </div>
            <div *ngIf="fbuy.errors.pattern">
              This in is not a positive integer.
            </div>
            <div *ngIf="fbuy.errors.maxExceeded">
                You don't have enough money for this transaction.
            </div>
          </div>
        </div>
        
        <div class="col-5 col-md-2">
            <label class="col-form-label"><p>{{prices.Codes[sellBuy.i]}} unit(s)</p></label> 
        </div>
        <div class="col-md-3">
            <label class="col-form-label"><p> for {{ (prices.currPrices.items[sellBuy.i].price * buy_units).toFixed(2) }} PLN</p></label> 
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary btn-lg" mwlConfirmationPopover
            [disabled]="prices.srvBlocked || !buyForm.form.valid"
            [popoverTitle]="popoverTitle"
            [popoverMessage]="popoverMessage"
            placement="bottom"
            (confirm)="onClickBuy()"
            (cancel)="cancelClicked = true">
            Buy Shares
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card mb-3 center-block" style="width: 80%; margin: 0 auto;" *ngIf="!sellBuy.buy">
    <div class="card-header"><h4>Sell shares of {{prices.Codes[sellBuy.i]}} </h4></div>
    <div class="card-body">
      <form (ngSubmit)="onSubmitDelay()" #sellForm="ngForm">
        <div>
          <p>You currently have {{auth.user.wallet[prices.Codes[sellBuy.i]]}} unit(s) of {{prices.Codes[sellBuy.i]}}</p>
        </div>
        <div class="mb-2 form-row">
            <div class="col-md-1 text-md-right">
              <label for="sell" class="col-form-label">Sell: </label>
          </div>
          <div class="col-7 col-md-3">
            <input type="number" class="form-control" [(ngModel)]="sell_units" name="sell_units"
            maxValidator="{{auth.user.wallet[prices.Codes[sellBuy.i]]}}" pattern="^\+?([1-9]\d*)$"
            #fsell="ngModel" required>

            <div *ngIf="fsell.invalid && (fsell.dirty || fsell.touched)"
              class="alert alert-danger ngValid">
              <div *ngIf="fsell.errors.required">
                You need to specify number of units you want to sell.
              </div>
              <div *ngIf="fsell.errors.maxExceeded">
                You don't have enough units for this transaction.
              </div>
              <div *ngIf="fsell.errors.pattern">
                This in is not a positive integer.
              </div>
            </div>
          </div>

                    
          <div class="col-5 col-md-2">
              <label class="col-form-label">{{prices.Codes[sellBuy.i]}} unit(s)</label> 
          </div>
          <div class="col-md-3">
            <label class="col-form-label"> for {{ (prices.currPrices.items[sellBuy.i].price * sell_units).toFixed(2) }} PLN</label> 
        </div>
          <!-- <div class="col">
              <label class="col-form-label">for {{ (prices.currPrices.items[this.sellBuy.i].price * buyUnits).toFixed(2) }} PLN</label> 
          </div> -->
          <div class="col-md-3">
              <button class="btn btn-primary btn-lg" mwlConfirmationPopover 
              [disabled]="prices.srvBlocked || !sellForm.form.valid"
              [popoverTitle]="popoverTitle"
              [popoverMessage]="popoverMessage"
              placement="bottom"
              (confirm)="onClickSell()"
              (cancel)="cancelClicked = true">
              Sell Shares
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
        