<br>
<div class="card mb-3 center-block" style="width: 80%; margin: 0 auto;">
  <div class="card-header"><h4>Register </h4></div>
  <div class="card-body">
    <form (ngSubmit)="onRegisterSubmit()" #regForm="ngForm" [hidden]="submitted">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required 
            [(ngModel)]="name" name="name" #fname="ngModel"
            minlength="2" maxlength="40" pattern="^[a-zA-ZżźćńółęąśŻŹĆĄŚĘŁÓŃ ]+(([',. -][a-zA-ZżźćńółęąśŻŹĆĄŚĘŁÓŃ ])?[a-zA-ZżźćńółęąśŻŹĆĄŚĘŁÓŃ]*)*$">
        
        <div *ngIf="fname.invalid && (fname.dirty || fname.touched)"
          class="alert alert-danger ngValid">
          <div *ngIf="fname.errors.required">
            Name is required.
          </div>
          <div *ngIf="fname.errors.minlength || fname.errors.maxlength">
            Name must be between 2 and 40 characters long.
          </div>
          <div *ngIf="fname.errors.pattern">
            Invalid name.
          </div>
        </div>

      </div>

      <div class="form-group">
        <label for="username">Userame</label>
        <input type="text" class="form-control" id="username" required 
            [(ngModel)]="username" name="username" #fusername="ngModel"
            minlength="2" maxlength="20" pattern="^[a-z]+([.-][a-z]+)?$">
        
        <div *ngIf="fusername.invalid && (fusername.dirty || fusername.touched)"
          class="alert alert-danger ngValid">
          <div *ngIf="fusername.errors.required">
            Username is required.
          </div>
          <div *ngIf="fusername.errors.minlength || fusername.errors.maxlength">
            Name must be between 2 and 20 characters long.
          </div>
          <div *ngIf="fusername.errors.pattern">
            Username must start and end with a letter. Only small letters allowed. In between can contain only a dot or a hyphen.
          </div>
        </div>

      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" required 
            [(ngModel)]="email" name="email" #femail="ngModel"
            pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
        
        <div *ngIf="femail.invalid && (femail.dirty || femail.touched)"
          class="alert alert-danger ngValid">
          <div *ngIf="femail.errors.required">
            Email is required.
          </div>
          <div *ngIf="femail.errors.pattern">
            Invalid email address.
          </div>
        </div>

      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required 
            [(ngModel)]="password" name="password" #fpassword="ngModel">
        
        <div *ngIf="fpassword.invalid && (fpassword.dirty || fpassword.touched)"
          class="alert alert-danger ngValid">
          <div *ngIf="fpassword.errors.required">
            Password is required.
          </div>
        </div>

      </div>

      <div class="form-group">
        <label for="PLN">Amount of PLN</label>
        <input type="number" class="form-control" id="PLN"
            [(ngModel)]="PLN" name="PLN" #fPLN="ngModel"
            pattern="^\+?(0|[1-9]\d*)$">
        
        <div *ngIf="fPLN.invalid && (fPLN.dirty || fPLN.touched)"
          class="alert alert-danger ngValid">
          <div *ngIf="fPLN.errors.pattern">
            This is not a non-negative integer. Please correct the value or leave it empty.
          </div>
        </div>

      </div>

      <div class="form-group">
        <label for="FP">Amount of unit shares of FP</label>
        <input type="number" class="form-control" id="FP" 
            [(ngModel)]="FP" name="FP" #fFP="ngModel"
            pattern="^\+?(0|[1-9]\d*)$">
        
        <div *ngIf="fFP.invalid && (fFP.dirty || fFP.touched)"
          class="alert alert-danger ngValid">
          This is not a non-negative integer. Please correct the value or leave it empty.
        </div>

      </div>

      <div class="form-group">
        <label for="FPL">Amount of unit shares of FPL</label>
        <input type="number" class="form-control" id="FPL" 
            [(ngModel)]="FPL" name="FPL" #fFPL="ngModel"
            pattern="^\+?(0|[1-9]\d*)$">
        
        <div *ngIf="fFPL.invalid && (fFPL.dirty || fFPL.touched)"
          class="alert alert-danger ngValid">
          This is not a non-negative integer. Please correct the value or leave it empty.
        </div>

      </div>

      <div class="form-group">
        <label for="FPC">Amount of unit shares of FPC</label>
        <input type="number" class="form-control" id="FPC" 
            [(ngModel)]="FPC" name="FPC" #fFPC="ngModel"
            pattern="^\+?(0|[1-9]\d*)$">
        
        <div *ngIf="fFPC.invalid && (fFPC.dirty || fFPC.touched)"
          class="alert alert-danger ngValid">
          This is not a non-negative integer. Please correct the value or leave it empty.
        </div>

      </div>

      <div class="form-group">
        <label for="PGB">Amount of unit shares of PGB</label>
        <input type="number" class="form-control" id="PGB" 
            [(ngModel)]="PGB" name="PGB" #fPGB="ngModel"
            pattern="^\+?(0|[1-9]\d*)$">
        
        <div *ngIf="fPGB.invalid && (fPGB.dirty || fPGB.touched)"
          class="alert alert-danger ngValid">
          This is not a non-negative integer. Please correct the value or leave it empty.
        </div>

      </div>

      <div class="form-group">
        <label for="FPA">Amount of unit shares of FPA</label>
        <input type="number" class="form-control" id="FPA" 
            [(ngModel)]="FPA" name="FPA" #fFPA="ngModel"
            pattern="^\+?(0|[1-9]\d*)$">
        
        <div *ngIf="fFPA.invalid && (fFPA.dirty || fFPA.touched)"
          class="alert alert-danger ngValid">
          This is not a non-negative integer. Please correct the value or leave it empty.
        </div>

      </div>

      <div class="form-group">
        <label for="DL24">Amount of unit shares of DL24</label>
        <input type="number" class="form-control" id="DL24" 
            [(ngModel)]="DL24" name="DL24" #fDL24="ngModel"
            pattern="^\+?(0|[1-9]\d*)$">
        
        <div *ngIf="fDL24.invalid && (fDL24.dirty || fDL24.touched)"
          class="alert alert-danger ngValid">
          This is not a non-negative integer. Please correct the value or leave it empty.
        </div>

      </div>

      <button type="submit" class="btn btn-info btn-lg" [disabled]="!regForm.form.valid">Submit</button>
    </form>

    <div [hidden]="!submitted" class="text-center">
      <p class="my-3">The following username is already taken: {{username}}. Please change username and submit again.</p>
      <button class="btn btn-info btn-lg mt-4" (click)="onClickAgain()">Change registration data</button>
    </div>


  </div>
</div>