<footer class="follow bg-info" id="bottom">
  <ul>
    <li>	<a href="https://github.com/pananimals/StockMarket" target="_blank"><i class="fa fa-github"></i></a> </li>
    <li>	<a href="https://www.linkedin.com/in/krzysztof-zwierzynski" target="_blank"><i class="fa fa-linkedin-square"></i></a> </li>
    <li>	<a href="https://www.facebook.com/pananimals" target="_blank"><i class="fa fa-facebook-square"></i></a> </li>
    <li>	<a href="https://www.instagram.com/p.a.n.a.n.i.m.a.l.s/" target="_blank"><i class="fa fa-instagram"></i></a> </li>
    <li>	<a href="https://www.youtube.com/user/zwierzu1989/playlists?view_as=subscriber" target="_blank"><i class="fa fa-youtube"></i></a> </li>   
  </ul>
</footer>
<!-- FOOTER social end -->

<footer class="socket bg-primary"> <p>&copy; PANANIMALS 2018 </p> </footer>