<br>
<div class="card mb-3 center-block" style="width: 80%; margin: 0 auto;" *ngIf="sellBuy.buy">
  <div class="card-header"><h4>Buy shares of {{prices.Codes[sellBuy.i]}} </h4></div>
  <div class="card-body">
    <form>
      <div class="mb-2 form-row">
        <div class="col text-right">
            <label for="buy" class="col-form-label">Buy: </label>
        </div>
        <div class="col">
            <input type="number" class="form-control" [(ngModel)]="buy_units" name="buy_units" min="0" step="1">
        </div>
        
        <div class="col">
            <label class="col-form-label">{{prices.Codes[sellBuy.i]}} unit(s)</label> 
        </div>
        <div class="col">
            <label class="col-form-label"> for {{ (prices.currPrices.items[sellBuy.i].price * buy_units).toFixed(2) }} PLN</label> 
        </div>
        <div class="col">
            <button class="btn btn-primary btn-lg" mwlConfirmationPopover [disabled]="prices.srvBlocked"
            [popoverTitle]="popoverTitle"
            [popoverMessage]="popoverMessage"
            placement="bottom"
            (confirm)="onClickBuy()"
            (cancel)="cancelClicked = true"
            (click)="onClickDelay()">
            Buy Shares
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card mb-3 center-block" style="width: 80%; margin: 0 auto;" *ngIf="!sellBuy.buy">
    <div class="card-header"><h4>Sell shares of {{prices.Codes[sellBuy.i]}} </h4></div>
    <div class="card-body">
      <form>
        <div class="mb-2 form-row">
          <div class="col text-right">
              <label for="sell" class="col-form-label">Sell: </label>
          </div>
          <div class="col">
              <input type="number" class="form-control" [(ngModel)]="sell_units" name="sell_units" min="1" step="1">
          </div>
          
          <div class="col">
              <label class="col-form-label">{{prices.Codes[sellBuy.i]}} unit(s)</label> 
          </div>
          <div class="col">
            <label class="col-form-label"> for {{ (prices.currPrices.items[sellBuy.i].price * sell_units).toFixed(2) }} PLN</label> 
        </div>
          <!-- <div class="col">
              <label class="col-form-label">for {{ (prices.currPrices.items[this.sellBuy.i].price * buyUnits).toFixed(2) }} PLN</label> 
          </div> -->
          <div class="col">
              <button class="btn btn-primary btn-lg" mwlConfirmationPopover [disabled]="prices.srvBlocked"
              [popoverTitle]="popoverTitle"
              [popoverMessage]="popoverMessage"
              placement="bottom"
              (confirm)="onClickSell()"
              (cancel)="cancelClicked = true"
              (click)="onClickDelay()">
              Sell Shares
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
        